@import "tailwindcss";

@font-face {
  font-family: 'font-1';
  src: url('../fonts/FoundersGrotesk-Semibold.ttf');
}

@font-face{
  font-family: 'font-2';
  src: url('../fonts/NeueMontreal-Regular.ttf');
}

@font-face{
  font-family: 'font-3';
  src: url('../fonts/icomoon.ttf');
}